*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-size: 1.2rem;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #484848;
    color: white;
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    align-items: center;
}

.footer .left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 133.5px;
}

.footer .center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 133.5px;
}

.footer .right{
    font-size: 40px;
    width: 133.5px;
}

.footer .right p{
    font-size: 12px;
}

.footer p{
    margin-bottom: 0px;
}

.footer b{
    margin-bottom: 2px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: grey;
}
/* Inicio tela arduino */
.nabar_top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_arduino{
    width: 10%;
    padding: 2vh;
    border: 1px solid;
    text-align: center;
    margin-top: 1vh;
    background: #000
}
.title_arduino a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.title_arduino a:hover{
    color: #fff;
}
.pages_tittle {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10vh;
    font-size: 5vh;
    font-weight: bold;
}

/* Fim tela arduino */

.home-link{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.home-link .home-button{
    display:inline-block;
    color:white;
    background: #484848;
    padding: 10px;
    text-align: center;
    border: hidden;
}
.image_right {
    width: 50%;
    border-radius: 10px;
}
.arduino_description {
    width: 50%;
    padding: 1rem 0 0 1rem;
}
.container_image_text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100% ;
    margin-top: 10vh;
}
.arduino_explic{
    width: 100%;
}
.left_side{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.container_arduino{
    margin-bottom: 15vh;
}
.left_side{
    margin-top: 5vh;
}

.video{
    display: flex;
    width: 100%;
    justify-content: center;
}

.video iframe{
    margin: 2rem;
}
.text{
    margin-left: 1vh;
}
